<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucky slots</title>
    <link rel="icon" href="../static/images/treasure.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>


    <div class="main-container">
      <h1 class="title">Welcome &#x26a1</h1>
      <h2 class="sub-title">&#x1f3c6 Test your luck! &#x1f3c6</h2>
        <div class="img-casino">
          <img class="img-slot" id="image-01" src="../static/images/diamond-svg.svg" alt="figure slot 01">
        </div>
        <div class="img-casino">
          <img class="img-slot" id="image-02" src="../static/images/heart-svg.svg" alt="figure slot 01">
        </div>
        <div class="img-casino">
          <img class="img-slot" id="image-03" src="../static/images/poker-flower-svg.svg" alt="figure slot 01">
        </div>

        <button class="btn-start" id="mainButton">Click Me!</button>
        <h2 class="result" id="textResult"></h2>
        <button class="btn-restart" id="secondButton">Try Again!</button>

    </div>

    <img class="img-diamond" src="../static/images/diamond.png" alt="luxury-watch">
    <img class="img-money" src="../static/images/dollar.png" alt="money sticker">
    <img class="img-seven" src="../static/images/seven-slot-machine.svg" alt="number seven sticker">
    <img class="img-dice" src="../static/images/game-die-svg.svg" alt="dice sticker">
    <img class="img-ticket" src="../static/images/ticket-casino-svg.svg" alt="dice sticker">
    
    <audio id="startAudio">
      <source src="../static/audio/90s-game-ui.mp3" type = "audio/mpeg" >
    </audio>

    <audio id="audioCount">
      <source src="../static/audio/microwave-ding.mp3" type = "audio/mpeg" >
    </audio>

    <audio id="audioVictory">
      <source src="../static/audio/yay-win.mp3" type = "audio/mpeg" >
    </audio>

    <audio id="audioLoser">
      <source src="../static/audio/buzzer-4-error.mp3" type = "audio/mpeg" >
    </audio>
    
    <script src="../static/js/script.js"></script>
  </body>
</html>
