* {
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #BEDCFE;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}


.cont{
    width: 90%;
    max-width: 1000px;
    
    margin:auto;
    overflow: hidden;
}


/* ------- -------- HEADER ----- -------- */

header {
    background: #5DA9E9;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
}
/* ---- 40px up and down, 0px both sides--- */
header .menu{
    margin: 40px 0;
    text-align: right;
}
header .menu a{
    margin:0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover{
    border-bottom: 2px solid #fff;
}


header .cont_text{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 55px 0;
    
    
}

header .cont_text .text{
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .cont_text .text h1,
header .cont_text .text h2 {
    color: #000000;
    font-weight: 300;
    margin: 0;

}



/* ------- -------- MAIN ----- -------- */
.main .cont{
    overflow: visible;
}

.main .about- {
    text-align: center; 
}

.main .about- .photo{
    margin-top: -40px;
}

.main .about- .photo img{
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.2);
}

.main .about- .text{
    color: #5a5a5a;
    font-weight:600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto;

}

.main .about- .text .title{
    font-size: 34px;
    margin-bottom: 40px;
    font-weight:300;
    color: #1A1423;
    line-height: 34px;
    text-align: center;
}

.main .about- .text .bold{
    color: #3895ea;
}


/* ------- -------- EXAMPLES ----- -------- */
.main .example {
    background: #5DA9E9;
    padding: 60px 0;
}

.main .example .cont{
    overflow:hidden;
}

.main .example .title{
    font-size: 34px;
    margin-bottom: 40px;
    font-weight:300;
    color: #1A1423;
    line-height: 34px;
    text-align: center;
}

.main .example .cont-example{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.main .example .cont-example .sample{
    width: 23%; 
    margin-bottom: 10px;
}

.main .example .cont-example .sample .thumb{
    width: 100%;
    margin-bottom: 10px;
}

.main .example .cont-example .sample .thumb img{
    width: 100%;
    vertical-align:top;
    border-radius: 10px;
}

.main .example .cont-example .sample .desc {
    text-align: center;
}

.main .example .cont-example .sample .desc .name{
    font-weight: 700;
    margin-bottom: 10px;
}

.main .example .cont-example .sample .desc .category{
    font-size:14px;
    color:#636363;
}




/* ------- --------FORM----- -------- */
footer .contact{
    padding: 60px 0;
}

footer .contact .title{
    font-size: 34px;
    margin-bottom: 40px;
    font-weight:300;
    color: #1A1423;
    line-height: 34px;
    text-align: center;
}

footer .contact .formul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contact .formul input[type="text"],
footer .contact .formul input[type="email"],
footer .contact .formul textarea{
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color:#a4a4a4;
}

footer .contact .formul input[type="text"]:focus,
footer .contact .formul input[type="email"]:focus,
footer .contact .formul textarea:focus{
    border:1px solid #000000;
}



footer .contact .formul input[type="text"],
footer .contact .formul input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
}

footer .contact .formul textarea{
    width:100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contact .formul .boton{
    margin: auto;
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}

footer .contact .formul .boton:hover{
    background: #387bea;
}


footer .social_networks{
    background: #1e2b38;
    padding: 60px 0;
}

footer .social_networks .cont{
    display: flex;
    justify-content: center;
}

footer .social_networks a{
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}

footer .social_networks .twitter:hover{background: #1da1f2;}
footer .social_networks .facebook:hover{background: #1877f2;}
footer .social_networks .instagram:hover{background: #833ab4;}
footer .social_networks .youtube:hover{background: #ff0000;}
footer .social_networks .github:hover{background: #4078c0;}




/* ------- --------MEDIA QUERIES----- -------- */
@media screen and (max-width: 800px){
    header .menu{
        text-align: center;
    }
    
    .main .example .cont-example .sample{
        width: 46%;
    }
}

@media screen and (max-width: 500px){
    header .cont_text .text .name{
        font-size: 35px;
    }
    footer .social_networks .cont {
        flex-wrap: wrap;
        padding: 20px 0;
    }
}

